*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    background-color: rgba(181, 79, 127);
    opacity: 0.8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bolder;
    text-transform: uppercase;

}
.two{
    font-size: 24px;
    color: bisque;
    background-color: darkolivegreen;
    font-style: oblique;
    text-transform: capitalize;

}
p{
    font-style: italic;
}
a{
    text-decoration: none;
}